@import '../../style/variables.scss';

.banner {
	margin-top: 50px;
	padding: 0 25px 0 45px;
	width: 1100px;
	height: 100px;
	background: $dark;
	display: grid;
	grid-template-columns: 152px 579px 133px;
	column-gap: 83px;
	&__text {
		justify-self: start;
		align-self: center;
		font-weight: 700;
		font-size: 24px;
		line-height: 30px;
		color: #fff;
	}
}